# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:

df= pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep='\t')
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo=df

In [4]:
chipo.info(
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### Step 4. How many products cost more than $10.00?

In [5]:
chipo['item_price']= chipo['item_price'].apply(lambda x:float(x.replace("$", '')) )

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.6+ KB

In [6]:
chipo_price10=(chipo['item_price']>10).sum()
chipo_price10

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [7]:
dataframe2=chipo[['item_name' ,'item_price']]
dataframe2.head()

                               item_name  item_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
4                           Chicken Bowl       16.98

### Step 6. Sort by the name of the item

In [8]:
chipo1 = dataframe2.sort_values(by=['item_name'])
chipo1

              item_name  item_price
3389  6 Pack Soft Drink       12.98
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49
3422  6 Pack Soft Drink        6.49
553   6 Pack Soft Drink        6.49
1916  6 Pack Soft Drink        6.49
1922  6 Pack Soft Drink        6.49
1937  6 Pack Soft Drink        6.49
3836  6 Pack Soft Drink        6.49
298   6 Pack Soft Drink        6.49
1976  6 Pack Soft Drink        6.49
1167  6 Pack Soft Drink        6.49
3875  6 Pack Soft Drink        6.49
1124  6 Pack Soft Drink        6.49
3886  6 Pack Soft Drink        6.49
2108  6 Pack Soft Drink        6.49
3010  6 Pack Soft Drink        6.49
4535  6 Pack Soft Drink        6.49
4169  6 Pack Soft Drink        6.49
4174  6 Pack Soft Drink        6.49
4527  6 Pack Soft Drink        6.49
4522  6 Pack Soft Drink        6.49
3806  6 Pack Soft Drink        6.49
2389  6 Pack Soft Drink        6.49
3132  6 Pack Soft Drink        6.49
3141  6 Pack Soft Drink        6.49
639   6 Pack Soft Drink        6.49
1026  6 Pack Soft Drink        6.49
...                 ...         ...
2996       Veggie Salad        8.49
3163       Veggie Salad        8.49
4084       Veggie Salad        8.49
1694       Veggie Salad        8.49
2756       Veggie Salad        8.49
4201  Veggie Salad Bowl       11.25
1884  Veggie Salad Bowl       11.25
455   Veggie Salad Bowl       11.25
3223  Veggie Salad Bowl       11.25
2223  Veggie Salad Bowl        8.75
2269  Veggie Salad Bowl        8.75
4541  Veggie Salad Bowl        8.75
3293  Veggie Salad Bowl        8.75
186   Veggie Salad Bowl       11.25
960   Veggie Salad Bowl        8.75
1316  Veggie Salad Bowl        8.75
2156  Veggie Salad Bowl       11.25
4261  Veggie Salad Bowl       11.25
295   Veggie Salad Bowl       11.25
4573  Veggie Salad Bowl        8.75
2683  Veggie Salad Bowl        8.75
496   Veggie Salad Bowl       11.25
4109  Veggie Salad Bowl       11.25
738   Veggie Soft Tacos       11.25
3889  Veggie Soft Tacos       16.98
2384  Veggie Soft Tacos        8.75
781   Veggie Soft Tacos        8.75
2851  Veggie Soft Tacos        8.49
1699  Veggie Soft Tacos       11.25
1395  Veggie Soft Tacos        8.49

[4622 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [10]:
#df['item_price'].max()
df.nlargest(1,'item_price')['quantity']# answer 15

3598    15
Name: quantity, dtype: int64

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [11]:
veggie_bowl = df[df['item_name'].str.contains("Veggie Salad Bowl")].sum()
veggie_bowl
#descriptions.sort(['count'], ascending=False)

order_id                                                          17303
quantity                                                             18
item_name             Veggie Salad BowlVeggie Salad BowlVeggie Salad...
choice_description    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
item_price                                                        182.5
dtype: object

### Step 9. How many times people orderd more than one Canned Soda?

In [24]:
ch1=df[df['item_name'].str.contains('Canned Soda')]

In [25]:
ch1.head()

     order_id  quantity    item_name choice_description  item_price
18          9         2  Canned Soda           [Sprite]        2.18
28         14         1  Canned Soda       [Dr. Pepper]        1.09
51         23         2  Canned Soda     [Mountain Dew]        2.18
53         24         1  Canned Soda           [Sprite]        1.09
107        47         1  Canned Soda       [Dr. Pepper]        1.09

In [48]:
#ch1[(ch1['quantity']>1)].count().quantity
ch1[(ch1['quantity']>=2)].count().quantity

20